@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    position: relative;
    background: black;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    letter-spacing: 0em;   
    line-height: 64px;
    font-weight: 700;
} 
 a{
    cursor: pointer;
    color: #FFFFFF
}


/* Top part 
1/3 */
.header{
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-image: url(../assets/BackgroundTop.png);
    background-position:  center;
    color:white;
}

/* Title and navbar*/
.header_upper{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 42px;
    justify-content: left;
    align-items: baseline;
}

.navbar_left{
    flex: 0 0 34%;
    padding-left: 12.6%;
    font-size: 20px;
    letter-spacing: 0.1em;
}

.navbar_right{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    white-space: nowrap;
    gap: 29px;
    flex: 0 0 792px;
    font-size: 14px;    
    letter-spacing: 0.2em;  
}

.navbar_right  li span{
    border-bottom: solid 3px #FFFFFF;
    padding-bottom: 3px;
}


/* Middle part of the header */
.header_center{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 209px;
    text-align: center;
}

.header_center ul li h1 {
    padding-top: 13px;
}

.header_center ul p{
    font-size: 24px;
    opacity: 70%;
    line-height: 32px;  
    padding-top: 32px;
}


/* main part
2/3 */
.main{
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: #EEEEEE;
    text-align: center;
}

.main h1{
    display: inline-block;
    color: #464547;
    margin-top: 46px;
    max-width: 669px;
    text-align: center;
}
.main h1 .main-h1-break{
    display: none;
}
.main .sub_header{
    line-height: 32px;
    margin-top: 10px;    
    font-size: 24px;
    color: #666666;
}

.main .article{
    color: #666666;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 83px;
    margin-top: 43px;
}

.main .article p {
    width: 410px;
    height: 172px;
    text-align: left;
    line-height: 22px;
    size: 16px;
}

.main .btn.read_more{
    margin-top: 40px;
    width: 115px;
    height: 36px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    border-radius: 18px;
    background-color: #55C2D8;
    border: 1px solid #55C2D8;
}
/* bottom section
3/3 */
.bottom_section{
    max-width: 1200px;
    height: 637px;
    margin: 0 auto;
    background: url(../assets/BackgroundBottom.png); 
    text-align: center;
    border-right: solid white 1px;
    position: relative;
}

.bottom_section .bottom.layout{
    position: absolute;
    width: 100%;
    height: 637px;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: 2;
  }


.middle_sector{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    top: 84px;
    z-index: 3;
    color: white;
}

.bottom_section .btn.play{
    margin-top: 43px;
    width: 150px;
    height: 150px;
    align-self: center;
    background-color: #39C2D7;
    border: solid #39C2D7 1px;
    border-radius: 50%;
    cursor: pointer;
}

.bottom_section .btn.play .triangle{
    color: white;
    font-size: 55px;
}

.bottom_section .btn.play:hover{
transform: rotate(90deg);
}

.bottom_section p{
    align-self: center;
    width: 351px;
    line-height: 32px;
    margin-top: 54px;
    font-size: 24px;
}


/* Footer */

.footer{
    max-width: 1200px;
    height: 199px;
    background: #464547;
    margin: 0 auto;
    color: #FFFFFF;
    
}

.footer .contact_section{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: 60px 60px;
   padding-left: 153px;
   padding-right: 148px;
   padding-top: 37px;
   white-space: nowrap;
   justify-items: right;
}

.footer .contact_section .name{
    display: inline-block;
}


.footer .contact_section .name ~ *{
    line-height: 19px;
    opacity: 40%;
}
.footer .contact_section .name img{
    vertical-align: bottom;
}
.footer .contact_section .name span{
    padding-left: 16px;
    font-size: 18px;
    letter-spacing: 0.2em;
    vertical-align: bottom;
}

.footer .contact_section .address{
    grid-column: 3 / 4;
    grid-row: 1/2;  
}

.footer .contact_section .mail{
    grid-column: 3 / 4;
    grid-row: 2;
    justify-self: start;
    margin: auto;
}

.footer .contact_section  .copyright{
    grid-column: 6 / 8;
    grid-row: 2/3;
    justify-self: end;
}

/* Responsive navbar animation */
.menu-toggler{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 35px;
    right: 30px;
    display: none;
    cursor: pointer;
    z-index: 100;
}

#mycheckbox{
    display: none;
}

.menu-toggler > i{
    font-size:24px;
    z-index: 101; 
}

.fa.fa-close{
    padding-top: 6px;
    font-size: 30px;
    display: none;
}
@media only screen and (max-width: 768px) {
    /* 1/3 Top part */
    .header .navbar_left{
        padding-left: 7%;
    }
   
    .menu-toggler{
        display: block;
    }

    .navbar{
        width: 72%;
        height: 100%;
        top: 0;
        right: -72%;
        position: fixed;
        background-color: #F6F6F6;
        justify-content: flex-start;
        z-index: 99;     
        transition: all 650ms;
    }

    .navbar .navbar_right{
        text-align: center;
        padding-right: 20%;
        flex-direction: column;
        margin-top: 90px;
    }

    .navbar .navbar_right li  {
        display: inline-block;
        height: 40px;
        width: 100%;
    }

    .navbar .navbar_right li:hover{
        background-color: #004958;
    }

    
    .navbar_right  li span{
        border: none;
    }

    .navbar .navbar_right li a {
      color: #39C2D7;
     }

    #mycheckbox:checked  ~ .navbar{
        right: -15%;
    }

    #mycheckbox:checked + .menu-toggler .fa.fa-bars{
        display: none;
    }

    #mycheckbox:checked + .menu-toggler{
        position: fixed;
    }

    #mycheckbox:checked + .menu-toggler .fa.fa-close{
        display: block;
        color: #39C2D7;
    }

    /* 2/3 Middle part*/
    .main{
        height: 990px;
    }

    .main h1{
        max-height: 261px;
        min-width: 365px;
        margin: 46px auto 41px;
    }

    .main h1 .main-h1-break{
    display: inline-block;
    }

    .main .article{
        flex-flow: column nowrap;
        gap: 24px;      
    }

    .main .article p{
        align-self: center;
        max-height: 172px;
    }
  
    .main .btn.read_more{
       margin-top: 0;
    }

/* 3/3 Bottom part  */
    .bottom_section p{
        width: 396px;
    }

    .bottom_section .btn.play{
        width: 100px;
        height: 100px;

    }

    .bottom_section .btn.play .triangle{
        color: white;
        font-size: 35px;
    }

/* Footer */
    .footer{
        height: 292px;
    }

    .footer .contact_section{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding-top: 56px;
        gap: 18px;
        text-align: center;
    }

    .footer .address{
        padding-top: 12px;
        
    }
  }